.navbar {
    background-color: #ffffff;
    margin-top: 76px;
    height: 30px;
    margin-bottom: 600px
}
}
.header-info {
    margin-bottom: 75px;
}
.business-header {
    padding-top: 21px;
    position: absolute;
    color: white;
    top: 0;
    height: 650px;
    width: 100%;
    background: url('../test-assets/background-image.png') bottom center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}
.img-center {
    margin: 0 auto;
}
footer {
    margin: 50px 0;
    background-color: #262626;
    color: white;
    margin-bottom: 0;
    width: 100% !important;
    font-size: 11px;
}
.red-text {
    color: #df3d3d;
}
.right-header-info div {
    display: inline-block;
}
.footer-copy {
    background-color: #df3d3d;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}
.no-gutters div {
    padding: 0;
}
.no-gutters div img {
    width: 100%;
    max-width: 400px;
}
@media screen and (max-width: 768px) {
    .footer-info {
        text-align: center;
    }
    .navbar-right {
        display: none;
    }
}
@media screen and (max-width: 980px) {
    #nav-iConfig,
    #nav-specials {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .phone-number-div {
        float: right !important;
    }
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
        border: none !important;
    }
}
.navbar-nav > li > a,
.navbar-brand {
    padding-top: 12px !important;
    padding-bottom: 0 !important;
    height: 45px;
}
.navbar {
    min-height: 45px !important;
}
#main-logo {
    height: 42px;
}
.phone-number-div h1 {
    margin-top: -4px;
}
.phone-number-div {
    width: 345px;
    margin-top: 3px;
}
.right-header-info p {
    margin-bottom: 0
}
.social-icon-div {
    padding: 5px;
    padding-top: 2px;
    vertical-align: top;
}
.header-numbers {
    margin-right: 20px;
}
div#bs-example-navbar-collapse-1 {
    background-color: white;
}
.icon-bar {
    background-color: #000 !important;
}
button.navbar-toggle {
    margin-top: 6px;
    margin-bottom: 0;
}
.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: -17px;
    margin-left: -17px;
}
.row.header-info {
    margin-bottom: 80px;
}
form div {
    display: inline-block;
}
form input {
    height: 30px;
}
a {
    color: #000;
    font-weight: bold;
}
.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    border-bottom: 4px solid #df3d3d;
}
.navbar-right {
    margin-top: 5px;
}
.navbar-right a {
    font-size: 10px;
    padding-right: 20px;
}
.navbar-right a span {
    padding-right: 7px;
}
.navbar-right div {
    display: inline-block;
}
#search-field {
    display: none;
}
input#search-field {
    margin-bottom: 0px;
    position: relative;
    top: 1px;
    height: 30px;
}
input[type="submit"] {
    width: 35px;
    background-color: #df3d3d;
    padding: 0;
    border: none;
}
#subscribe {
    background-color: #CCCCCC;
    top: 34px;
    width: 175px;
    border: none;
}
.news-container {
    position: relative;
    top: -7px;
    width: 210px;
}
.news-email,
.news-button {
    position: absolute;
}
.news-button {
    right: 0;
}
.news-email {
    left: 0;
}
.news p {
    margin-top: 25px;
    color: grey;
}
.news {
    padding-bottom: 30px;
}
.footer-info {
    padding-top: 25px;
    color: #aaaaaa;
}
h6 {
    color: white;
}
hr {
    border-color: #666666;
}
#logo2 {
    height: 34px;
    margin-bottom: 10px;
}
span.white {
    color: #fff;
}
.credit-card-row .col-sm-2 {
    padding-left: 0px;
    padding-right: 0px;
}
.credit-card-row {
    padding-top: 25px;
}
.credit-card-row li img {
    padding-bottom: 12px;
}
li div {
    display: inline-block;
}
img#canada-leaf {
    margin-top: -24px;
    margin-right: -14px;
}
img#godaddy {
    margin-top: -44px;
    margin-right: 20px;
}
img#BBB {
    margin-bottom: -9px;
    margin-right: 20px;
}
.content-container {
    padding-bottom: 50px;
}
.tile-back {
    background-color: #df3d3d;
    max-width: 400px;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 35px !important;
    padding-top: 50px !important;
}
.tile-back img,
.tile-back h4 {
    padding-bottom: 40px;
}
.tile-back h4 {
    color: white;
    font-weight: lighter;
}
.tile-back button {
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font-weight: bold;
}
.tile {
    margin: 0 auto;
    position: relative;
}
#tile1:hover .tile-back,
#tile2:hover .tile-back,
#tile3:hover .tile-back {
    display: inherit;
}

div#myCarousel {
    width: 560px;
}

.specialtext {
    color: red;
    font-weight: bold;
}

.carousel-indicators li {
    height: 7px;
    width: 7px;
    border-radius: 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.carousel-indicators .active {
    width: 8px;
    height: 8px;
    margin: 0;
    background-color: #fff;
}


.carousel-caption {
    top: 0;
}

.navbar {
    z-index: 1;
}
.form-group {
    width: 100%;
}

.form-control{
    display: inline-block;
}

#shop_by_form span .form-control{
    width:45%;
    float: right;
}


#shop_by_form span{
    color: #000;
    font-weight: bold;
}


#shop_by_form{
   background-color: #fff;
   height: 375px;
   padding: 15px 30px;
	
}

#shop_by_form select{
   margin-bottom: 15px;
   height: 40px;
   background-color: #eceff3;
}

#shop_by_form button{
   width: 100%;
   margin-top: -20px;
   height: 40px;
 background-color: #df3d3d; 

}

#shop_by_form select,
#shop_by_form button{
 border-radius: 0;
	border: inherit;

}

#shop_by_form a{
  color: grey;
  font-size: 10px;
  text-align: center;
}

#shop_by_form .glyphicon {
    color: grey;
}

#shop_by_form span img {
    padding-top: 7px;
}

.row.header-info {
    margin-bottom: 99px;
}

#subscribe {
    padding-left: 15px;
}


.carousel-caption {
    text-align: left;
    width: 75%;
    margin-left: -7%;
}

.carousel-caption h1 {
    font-weight: 800;
}




